{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Ticket</h2>  
    <form method="Post" action="insert">
      <label> User </label><input type="text" name="user" /><br />
      <label> Description </label><input type="text" name="description" /><br />
      <label> Details </label><input type="text" name="details" /><br />
      <label> CC List </label><input type="text" name="ccList" /><br />
      <input type="submit" value="Create ticket" />
    </form>
  {{ template "Footer" }}
{{ end }}